body {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}

.container {
    margin: 0 auto;
}

.results-img {
    max-width: 200px;
    margin: auto 0;
}

.results {
    width: 100%;
    display: flex;
    align-items: middle;
    flex-wrap: wrap;
}

.hidden {
    display: none;
}